.nav {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 2px 2px 6px #00000018;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.link {
  transition: all 0.3s;
  opacity: 0.6;
}
.selected {
  opacity: 1;
  color: var(--them-primery-color);
}

.link:hover {
  color: var(--them-primery-color);
}

.profile {
  margin-right: 80px;
}

.inputContainer {
  flex: 1;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
}
