.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.productContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  direction: ltr;
}

.inpMobileContainer {
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
  display: none;
}

@media (max-width: 1000px) {
  .productContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 30px;
    margin-top: 0px;
  }

  .inpMobileContainer {
    display: inline-block;
  }

  .productContainer {
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }

  .searchAndSortSession {
    display: flex;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);
    padding-bottom: 10px;
    flex-direction: column;
  }

  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 16px;
  }
}
