.container {
  width: 200px;
}

.category {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  margin-bottom: 7px;
  background-color: transparent;
  text-align: right;
  font-size: 1rem;
}

.selected {
  color: var(--them-primery-color);
}

@media (min-width: 800px) {
  .container {
    border-left: 1px solid #00000011;
    padding-left: 10px;
    position: sticky;
    height: fit-content;
    top: 90px;
  }

  .category:hover {
    color: var(--them-primery-color);
    background-color: var(--them-secondary-color);
  }
}

@media (max-width: 800px) {
  .container {
    direction: ltr;
    height: 40px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .category {
    display: inline-block;
    border: 1px solid #ebebeb;
    width: fit-content;
    border-radius: 40px;
    padding: 5px 12px;
    margin-left: 8px;
    font-size: 0.9rem;
    white-space: nowrap;
    background-color: white;
  }

  .category:last-child {
    margin-left: 0;
  }

  .selected {
    border-color: var(--them-secondary-color);
    background-color: var(--them-secondary-color);
    color: var(--them-primery-color);
  }
}
