@import 'vazirmatn/Vazirmatn-font-face.css';

:root {
  --background-color: #fff;
  --test-primery-color: #2d2d2d;
  --them-primery-color: #ff005d;
  --them-secondary-color: #ff5d980e;
  --image-background-color: #ececec;
  --inp-color: #f4f4f4;
  --border-color: #e1e1e1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Vazirmatn';
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: var(--background-color);
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 500px) {
  a,
  button {
    cursor: pointer;
  }
}
@media (max-width: 500px) {
  a,
  button {
    cursor: default;
  }
  body {
    padding-bottom: 100px;
  }
}
