.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container > * {
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
}

.container button {
  background-color: transparent;
  text-align: start;
  color: #ea2b2b;
}
